# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
