# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Generated dirs
**/**/dist

# Nuxt
**/**/.nuxt
**/**/.output

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode

# Intellij idea
*.iml
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
